<div class="box bg-dark text-center">
    <h1 class="font-light text-white">
        <br>
        <a href="index.html"><b>{{title}}</b></a>
        <br>
    </h1>
    <br>
</div>
<br>
<br>
<nav>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                        <div class="align-self-center">
                            <h4 class="m-t-0">
                                <a routerLink="/dashboard"> <b>Inicio</b></a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                        <div class="align-self-center">
                            <h4 class="m-t-0">
                                <a routerLink="/aves"> <b>CRUD</b></a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</nav>
<router-outlet></router-outlet>
<br>
<br>
<!-- <app-messages></app-messages> -->